{% extends 'students/base.html' %}{% block title %}{{request.user.studentprofile|title}}'s homepage{% endblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
	{% block content %}
	<main id="main" class="main">
		<section class="section dashboard">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-xxl-4 col-md-6">
							<div class="card info-card credits-card">
								<div class="card-body">
									<h5 class="card-title">Credits <span></span></h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-patch-check-fill"></i>
										</div>
										<div class="ps-3">
										<h6>145</h6>
										<span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xxl-4 col-md-6">
							<div class="card info-card books-card">
								<div class="card-body">
									<h5 class="card-title">Borrowed books <span>| This Month</span></h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-stack"></i>
										</div>
										<div class="ps-3">
											<h6>$3,264</h6>
											<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xxl-4 col-xl-12">
							<div class="card info-card customers-card">
								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
										<h6>Filter</h6>
										</li>

										<li><a class="dropdown-item" href="#">Today</a></li>
										<li><a class="dropdown-item" href="#">This Month</a></li>
										<li><a class="dropdown-item" href="#">This Year</a></li>
									</ul>
								</div>
								<div class="card-body">
									<h5 class="card-title">Customers <span>| This Year</span></h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-people"></i>
										</div>
										<div class="ps-3">
										<h6>1244</h6>
										<span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="card">
								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
										<h6>Filter</h6>
										</li>

										<li><a class="dropdown-item" href="#">Today</a></li>
										<li><a class="dropdown-item" href="#">This Month</a></li>
										<li><a class="dropdown-item" href="#">This Year</a></li>
									</ul>
								</div>

								<div class="card-body">
									<h5 class="card-title">Reports <span>/Today</span></h5>
									<div id="reportsChart"></div>
									<script>
										document.addEventListener("DOMContentLoaded", () => {
										new ApexCharts(document.querySelector("#reportsChart"), {
											series: [{
											name: 'Sales',
											data: [31, 40, 28, 51, 42, 82, 56],
											}, {
											name: 'Revenue',
											data: [11, 32, 45, 32, 34, 52, 41]
											}, {
											name: 'Customers',
											data: [15, 11, 32, 18, 9, 24, 11]
											}],
											chart: {
											height: 350,
											type: 'area',
											toolbar: {
												show: false
											},
											},
											markers: {
											size: 4
											},
											colors: ['#4154f1', '#2eca6a', '#ff771d'],
											fill: {
											type: "gradient",
											gradient: {
												shadeIntensity: 1,
												opacityFrom: 0.3,
												opacityTo: 0.4,
												stops: [0, 90, 100]
											}
											},
											dataLabels: {
											enabled: false
											},
											stroke: {
											curve: 'smooth',
											width: 2
											},
											xaxis: {
											type: 'datetime',
											categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
											},
											tooltip: {
											x: {
												format: 'dd/MM/yy HH:mm'
											},
											}
										}).render();
										});
									</script>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="card booked-units overflow-auto">
								<div class="card-body">
									<h5 class="card-title">Booked Units</h5>
									<table class="table table-bordered table-sm table-striped">
										<thead>
											<tr class="table-active">
												<th scope="col">No</th>
												<th scope="col">Unit</th>
												<th scope="col">Study Mode</th>
												<th scope="col">Status</th>
											</tr>
										</thead>
										<tbody>
											{% for unit in booked_units %}
											<tr>
												<th scope="row">{{forloop.counter}}</th>
												<td>{{ unit.unit }}</td>
												<td>{{ unit.study_mode }}</td>
												<td>{% if unit.confirmed is True %}Registered <i class="bi bi-check-circle-fill" style="color: rgb(31, 182, 31);"></i>{% endif %}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="card">
						<div class="card-body pb-3">
							<h5 class="card-title"><i class="bi bi-newspaper" style="color: rgb(9, 155, 9); font-size: 22px;"></i> News &amp; Updates <span>| Today</span></h5>
							<div class="news">
								
								<div class="post-item clearfix">
									<img src="{% static 'logo.jpg' %}" alt="">
									<h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
									<p class="mb-0">Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
									<p class="small text-end fw-bold mt-0 mb-0">32 min ago</p><hr class="dropdown-divider mt-1">
								</div>

								<div class="post-item clearfix">
									<img src="{% static 'logo.jpg' %}" alt="">
									<h4><a href="#">Quidem autem et impedit</a></h4>
									<p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
									<p class="small text-end fw-bold mt-0 mb-0">32 min ago</p><hr class="dropdown-divider mt-1">
								</div>

							</div>
							<p class="text-center"><a href="{% url 'homepage' %}" data-bs-toggle="modal" data-bs-target="#news-and-updates"><span class="badge rounded-pill bg-primary p-2">View all news &amp; updates</span></a></p>

							<div class="modal fade" id="news-and-updates" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"><i class="bi bi-newspaper" style="color: rgb(12, 85, 12);"></i> Upload Assignment</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="news">
								
												<div class="post-item clearfix">
													<img src="{% static 'logo.jpg' %}" alt="">
													<h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
													<p class="mb-0">Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
													<p class="small text-end fw-bold mt-0 mb-0">32 min ago</p><hr class="dropdown-divider mt-1">
												</div>
				
												<div class="post-item clearfix">
													<img src="{% static 'logo.jpg' %}" alt="">
													<h4><a href="#">Quidem autem et impedit</a></h4>
													<p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
													<p class="small text-end fw-bold mt-0 mb-0">32 min ago</p><hr class="dropdown-divider mt-1">
												</div>
				
											</div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
						</div>
					</div>

					<div class="card">
						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
								<h6>Filter</h6>
								</li>

								<li><a class="dropdown-item" href="#">Today</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>

						<div class="card-body pb-0">
							<h5 class="card-title">Website Traffic <span>| Today</span></h5>

							<div id="trafficChart" style="min-height: 400px;" class="echart"></div>
							<script>
								document.addEventListener("DOMContentLoaded", () => {
								echarts.init(document.querySelector("#trafficChart")).setOption({
									tooltip: {
									trigger: 'item'
									},
									legend: {
									top: '5%',
									left: 'center'
									},
									series: [{
									name: 'Access From',
									type: 'pie',
									radius: ['40%', '70%'],
									avoidLabelOverlap: false,
									label: {
										show: false,
										position: 'center'
									},
									emphasis: {
										label: {
										show: true,
										fontSize: '18',
										fontWeight: 'bold'
										}
									},
									labelLine: {
										show: false
									},
									data: [{
										value: 1048,
										name: 'Search Engine'
										},
										{
										value: 735,
										name: 'Direct'
										},
										{
										value: 580,
										name: 'Email'
										},
										{
										value: 484,
										name: 'Union Ads'
										},
										{
										value: 300,
										name: 'Video Ads'
										}
									]
									}]
								});
								});
							</script>
						</div>
					</div>

				</div>
				
				<div class="modal fade" id="contact-form" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"><i class="bi bi-telephone-outbound-fill" style="color: rgb(25, 25, 150)"></i> Contact Us</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body contact">
								<div class="col-md-12 text-center">
									<div class="info-box card">
										<i class="bi bi-telephone"></i>
										<h3>Call Us</h3>
										<a href="tel:+254123456789">0123456789</a><a href="tel:+254123456789">0123456789</a>
									</div>
								</div>
								<div class="col-md-12 text-center">
									<div class="info-box card">
										<i class="bi bi-clock"></i>
										<h3>Open Hours</h3>
										<p>Monday - Friday<br>9:00AM - 05:00PM</p>
									</div>
								</div>

								<div class="modal-footer mt-2">
									<p class="small fw-bold text-muted text-center">You can make a direct call by clicking the mobile no. provided</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	{% endblock %}
</body>
</html>