{% extends 'students/base.html' %}{% block title %}Profile{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
	{% block content %}
	<main id="main" class="main">
		<section class="section profile">
			<div class="row">
				<div class="col-xl-4">
					<div class="card">
						<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
							<img src="{{request.user.studentprofile.pic.url}}" alt="Profile" class="rounded-circle">
							<h2>{{request.user.studentprofile|title}}</h2>
							<h3 class="text-center">{{request.user.studentprofile.academicprofile.year|default:"Unknown"}} | {{request.user.studentprofile.gender|default:"Unknown"}}</h3>
							<div class="social-links mt-2">
								<a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
								<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
								<a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
								<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-8">
					<div class="card">
						<div class="card-body pt-3">
							<ul class="nav nav-tabs nav-tabs-bordered">
								<li class="nav-item">
									<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
								</li>

								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#academic-profile">Acad. Profile</button>
								</li>

								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
								</li>

								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
								</li>

							</ul>
							<div class="tab-content pt-2">
								<div class="tab-pane fade show active profile-overview" id="profile-overview">
									{% include 'messages.html' %}
									<h5 class="card-title">Profile Details</h5>
									<div class="row">
										<div class="col-lg-3 col-md-4 label ">Full Name</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile|title}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Gender</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.gender|default:" -- "}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Date of Birth</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.dob|default:" -- "}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Age</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.age}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Address</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.home_address|default:" -- "}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Phone</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.phone_no|default:" -- "}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Email</div>
										<div class="col-lg-9 col-md-8">{{request.user.email}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Country</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.country|default:" -- "}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Ethnicity</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.ethnicity|default:" -- "}}</div>
									</div>

								</div>

								<div class="tab-pane fade profile-overview" id="academic-profile">
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Course</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.academicprofile.course|default:" -- "}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">School</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.academicprofile.school|default:" -- "}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Registration No.</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.academicprofile.reg_no|default:" -- "}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Year of Study</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.academicprofile.year|default:" -- "}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Semester</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.academicprofile.semester|default:" -- "}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Hostel</div>
										<div class="col-lg-9 col-md-8">{{request.user.studentprofile.academicprofile.hostel|default:" -- "}}</div>
									</div>

								</div>

								<div class="tab-pane fade profile-edit pt-3" id="profile-edit">
									<form action="" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row mb-3">
											<label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
											<div class="col-md-8 col-lg-9">
												<img src="{{request.user.studentprofile.pic.url}}" alt="img">
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												{% if request.user.studentprofile.dob is None and request.user.studentprofile.academicprofile.reg_no == "" %}
												{{update_form|crispy}}
												<hr class="dropdown-divider mt-4"><h6 class="text-center">Academic Profile</h6><hr class="dropdown-divider mb-3">
												{{academic_form|crispy}}
												{% else %}
												{{editprofile_form|crispy}}
												{{editacademic_form|crispy}}
												{% endif %}
											</div>
										</div>
										<div class="text-center d-grid">
											<hr class="dropdown-divider"><button type="submit" class="btn btn-primary mt-1">Save Changes</button>
										</div>
									</form>
								</div>

								<div class="tab-pane fade pt-3" id="profile-change-password">
									<form action="" method="post">
										{% csrf_token %}
										<div class="row mb-3">
											<label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="password" type="password" class="form-control" id="currentPassword">
											</div>
										</div>

										<div class="row mb-3">
											<label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="newpassword" type="password" class="form-control" id="newPassword">
											</div>
										</div>

										<div class="row mb-3">
											<label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="renewpassword" type="password" class="form-control" id="renewPassword">
											</div>
										</div>
										<div class="text-center">
											<button type="submit" class="btn btn-primary">Change Password</button>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	{% endblock %}
</body>
</html>